/* 'About' section */

section {
    padding: 100px 0;
}

.about img {
    width: calc(40% - 40px); /*you can take away 40px from the text if you want */
    margin-right: 40px;
}

.about-text {
    width: 60%;
}

.about img, .about-text {
    float: left;
}